@import "https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Noto+Serif:wght@700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body ul {
  list-style: none; }
  body ul li a {
    text-decoration: none;
    color: black; }
    body ul li a:hover {
      color: black !important; }

/*html del index*/
.navbar {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px; }

.logo {
  width: 65px;
  height: 52px;
  margin: 24px;
  padding: 1px; }

.slide img {
  height: 500px; }

.barra ul {
  height: 69px;
  border-top: 3px solid #eaeaea;
  border-bottom: 3px solid #eaeaea;
  font-family: 'Cairo', sans-serif; }

.barra li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-size: 25px; }

.card {
  background-color: whitesmoke !important;
  height: 608px;
  margin: 0 auto; }
  .card img {
    height: 202px;
    width: 201px;
    margin: 16px; }

.sub_card div:hover {
  transform: scale(1.1, 1.1); }

.sub_card p {
  height: 20px;
  width: 201px;
  text-align: center;
  margin-left: 15px;
  font-family: 'Noto Sans HK', sans-serif; }

.footer {
  display: grid;
  grid-template-rows: 50px 45px 50px;
  grid-template-areas: "contacto" "follow" "copyright";
  background-color: #e5e5e5; }

.foo_contacto {
  grid-area: contacto;
  color: black; }
  .foo_contacto p {
    cursor: pointer;
    margin: 10px; }
    .foo_contacto p:hover {
      color: #a8a8a8; }
  .foo_contacto div {
    font-size: 25px;
    margin: 10px 10px; }

.foo_follow {
  grid-area: follow; }
  .foo_follow img {
    height: 16px;
    width: 16px;
    margin-left: 23px;
    cursor: pointer; }

.foo_copyright {
  grid-area: copyright;
  color: black; }
  .foo_copyright p {
    cursor: pointer; }
    .foo_copyright p:hover {
      color: #a8a8a8; }

/* html del genero */
.barra_genero {
  background: white;
  position: sticky;
  top: 0px;
  z-index: 100;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  align-items: center; }
  .barra_genero ul {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
    margin-bottom: 0px; }
  .barra_genero li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 23px; }

.list_title {
  grid-area: list_title;
  padding: 16px;
  background-color: whitesmoke;
  width: 1213px;
  margin: 0 auto; }

.sub_title div:hover {
  transform: scale(1.1, 1.1); }

.sub_title img {
  height: 207px;
  width: 100%;
  margin-left: 21px;
  margin-top: 9px; }

.link {
  text-decoration: none;
  color: black; }

.info {
  height: 21px;
  width: 182px;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 15px;
  margin-left: 21px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: black; }

.sub_barra {
  margin: 9px;
  padding: 10px;
  font-size: 21px;
  margin-bottom: 0px;
  padding-top: 25px; }

/*html de los populares*/
.sub_ranking-tab {
  background: white;
  position: sticky;
  top: 0px;
  z-index: 100; }
  .sub_ranking-tab ul {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    align-items: center; }
  .sub_ranking-tab li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px; }

.title_area {
  margin: 0 auto;
  width: 1085px;
  margin-top: 66px;
  padding-left: 18px; }
  .title_area p {
    font-size: 20px;
    font-weight: 700; }

.ranking_table {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding-left: 0rem; }
  .ranking_table li {
    list-style-type: none;
    margin-left: 10px;
    font-size: 17px; }

.list_type {
  margin: 0 auto;
  width: 64%;
  margin-bottom: 123px;
  margin-top: 100px; }

.ranking-top {
  position: relative;
  text-decoration: none;
  padding-left: 34px !important; }
  .ranking-top img {
    height: 388px;
    width: 100%; }
  .ranking-top span {
    position: absolute;
    left: 53px;
    top: -12px;
    font-size: 96px;
    color: white;
    font-weight: 1000; }

.sb_genero {
  margin-top: 15px;
  margin-bottom: 9px;
  color: #bbb;
  font-size: 12px; }

.sb_title {
  font-size: 25px;
  font-weight: 700; }

.sub_ranking {
  display: inline-flex;
  border-bottom: 1px #bbb solid;
  margin-bottom: 6px; }
  .sub_ranking img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px; }
  .sub_ranking span {
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    width: 53px;
    justify-content: center; }

.info_area {
  font-size: 16px;
  width: 417px;
  font-weight: 550; }

/* html de capitulos */
.conteiner {
  height: 100%;
  background: #f5f5f5; }

.fondo_cap {
  position: absolute;
  width: 100%; }
  .fondo_cap img {
    height: 27rem;
    width: 100%; }

.conteiner_box {
  margin: 0 auto;
  width: 72%;
  z-index: 50;
  position: relative; }

.cont_cap {
  height: 349px; }

.img_cap {
  width: 100%;
  height: 312px; }

.title_genr {
  font-size: 20px;
  color: wheat;
  margin-bottom: 0rem; }

.title {
  font-size: 51px;
  color: white; }

.log_wrap {
  position: relative;
  top: 177px; }

.img_logo {
  height: 20px;
  background-color: white;
  margin-left: 2px; }

.detail_list {
  margin-top: 22px;
  background: white; }

.icono_view ul li img {
  height: 20px;
  width: 20px;
  margin-right: 10px; }

.ico_no {
  border: 3px gray solid;
  border-radius: 17px;
  background: #dfdecf78;
  width: 84px; }

.detail_ul {
  border-right: 3px solid #f5f5f5; }
  .detail_ul ul {
    padding-left: 0rem; }

.episode_list {
  border-bottom: 3px #f5f5f5 solid;
  height: 62px;
  justify-items: center; }
  .episode_list:first-child {
    border-top: 3px #f5f5f5 solid; }
  .episode_list:hover {
    background-color: #f5f5f5; }
  .episode_list img {
    height: 26px;
    margin-right: 6px; }

.episode {
  width: 100%;
  height: 62px; }
  .episode span {
    width: 100%;
    font-size: 16px; }

.view {
  width: 100px; }

._nume {
  width: 47px;
  text-align: right; }

@media only screen and (max-width: 1200px) {
  /*html de los capitulos*/
  .title {
    font-size: 42px; } }

@media only screen and (max-width: 1148px) {
  /*html del index*/
  .card {
    height: 1034px; }
  .sub_card {
    height: 1034px; } }

@media only screen and (max-width: 1070px) {
  /*html de los populares*/
  .info_area {
    width: 317px; } }

@media only screen and (max-width: 992px) {
  /* html de los populares */
  .list_type {
    width: 72%; }
  .title {
    font-size: 32px; }
  .title_genr {
    font-size: 18px; } }

@media only screen and (max-width: 886px) {
  /*html de los populares*/
  .info_area {
    width: 236px; } }

@media only screen and (max-width: 1053px) {
  /*html del index*/
  .logo {
    width: 36px;
    height: 40px;
    margin: 24px;
    padding: 1px; }
  .card {
    height: 1250px; }
  .sub_card {
    height: 1180px; }
    .sub_card div:hover {
      transform: scale(1.1, 1.1); } }

@media only screen and (max-width: 990px) {
  /*html del index*/
  .card {
    height: 852px; } }

@media only screen and (max-width: 886px) {
  /*html de los populares*/
  .info_area {
    width: 236px; } }

@media only screen and (max-width: 768px) {
  /*html de los capitulos*/
  .title {
    font-size: 24px; }
  .title_genr {
    font-size: 16px; }
  /*html de los populares*/
  .info_area {
    width: 203px; }
  /*html del index*/
  .sub_card div:hover {
    transform: scale(1.1, 1.1); }
  .card {
    height: 1119px; }
  .list_type {
    width: 96%; } }

@media only screen and (max-width: 684px) {
  /*html de los populares*/
  .sb_genero {
    margin-bottom: -2px; }
  .info_area {
    width: 135px; } }

@media only screen and (max-width: 574px) {
  /*html de los capitulos*/
  .conteiner_box {
    width: 83%; }
  .fondo_cap img {
    height: 43rem; }
  .title {
    font-size: 31px; }
  .title_genr {
    font-size: 20px; }
  .log_wrap {
    top: 12px; }
  .episode span {
    font-size: 14px; }
  .episode_list img {
    height: 18px; }
  .detail_list {
    margin-top: 270px; }
  /*html de los populares*/
  .ranking-top img {
    margin-left: 15px; }
  .sub_ranking {
    margin-left: -41px; }
  .info_area {
    width: 296px; }
  .list_type {
    width: 95%; }
  /*html del index*/
  .barra li {
    font-size: 17px; }
  .card {
    height: 2249px; }
  .sub_card {
    height: 2203px; }
  .foo_contacto {
    margin: 4px; }
  .foo_contacto p {
    font-size: 13px; } }

@media only screen and (max-width: 462px) {
  /* html de los populares */
  .list_type {
    width: 93%; }
  .info_area {
    width: 239px; } }

@media only screen and (max-width: 400px) {
  /*html de los capitulos*/
  .conteiner_box {
    width: 94%; }
  /* html de los pupulares */
  .list_type {
    width: 92%; }
  .info_area {
    width: 158px;
    font-size: 14px; }
  /*html del index*/
  .slide img {
    height: 170px; }
  /* html para el genero */
  .barra li {
    width: 330px;
    font-size: 15px; }
  /*html en general*/
  .foo_contacto div {
    margin: 10px 5px; }
  .foo_contacto p {
    font-size: 9px; }
  .barra_genero li {
    font-size: 17px;
    margin: 8px;
    padding: 0px;
    text-align: center; } }
