@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body ul {
  list-style: none; }
  body ul li a {
    text-decoration: none;
    color: black; }
    body ul li a:hover {
      color: black !important; }

.navbar {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  height: 100px;}
.logo {
  width: 65px;
  height: 52px;
  margin: 24px;
  padding: 1px; }

.slide img {
  height: 500px; }

.barra ul {
  height: 69px;
  border-top: 3px solid #eaeaea;
  border-bottom: 3px solid #eaeaea;
  font-family: 'Cairo', sans-serif; }

.barra li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-size: 25px; }

.card {
  background-color: whitesmoke !important;
  height: 608px;
  margin: 0 auto; }
  .card img {
    cursor: pointer;
    height: 202px;
    width: 201px;
    margin: 16px; }

.sub_card div:hover {
  transform: scale(1.1, 1.1); }

.sub_card p {
  height: 20px;
  width: 201px;
  text-align: center;
  margin-left: 15px;
  font-family: 'Noto Sans HK', sans-serif; }

.footer {
  display: grid;
  grid-template-rows: 50px 45px 50px;
  grid-template-areas: "contacto" "follow" "copyright";
  background-color: #e5e5e5; }

.foo_contacto {
  grid-area: contacto;
  color: black; }
  .foo_contacto p {
    cursor: pointer;
    margin: 10px; }
    .foo_contacto p:hover {
      color: #a8a8a8; }
  .foo_contacto div {
    font-size: 25px;
    margin: 10px 10px; }

.foo_follow {
  grid-area: follow; }
  .foo_follow img {
    height: 16px;
    width: 16px;
    margin-left: 23px;
    cursor: pointer; }

.foo_copyright {
  grid-area: copyright;
  color: black; }
  .foo_copyright p {
    cursor: pointer; }
    .foo_copyright p:hover {
      color: #a8a8a8; }

/* html del genero */

.barra_genero {
  background: white;
  position: sticky;
  top: 0px;
  z-index: 100; }
  .barra_genero ul {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    align-items: center; }
  .barra_genero li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 23px; }

.list_title {
  grid-area: list_title;
  padding: 16px;
  background-color: whitesmoke;
  width: 1213px;
  margin: 0 auto; }

.sub_title div:hover {
  transform: scale(1.1, 1.1); }

.sub_title img {
  cursor: pointer;
  height: 207px;
  width: 187px;
  margin-left: 21px;
  margin-top: 9px; }

.info {
  display: flex;
  height: 21px;
  width: 193px;
  justify-content: center;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 21px;
  overflow: hidden;
  margin-bottom: 10px;}

.sub_barra {
  margin: 9px;
  padding: 10px;
  font-size: 21px;
  margin-bottom: 0px;
  padding-top: 25px; }

  /* html del Popular */



  .sub_ranking-tab{
    background: white;
    position: sticky;
    top: 0px;
    z-index: 100; }
   .sub_ranking-tab ul {
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      align-items: center; }
    .sub_ranking-tab li {
      list-style-type: none;
      margin: 10px;
      padding: 10px;
      font-size: 15px;
      margin-left: 40px;
      margin-right: 40px;}
  .title_area{
    margin: 0 auto;
    width: 1085px;
    margin-top: 66px;
    padding-left: 18px;}
    .title_area p{
      font-size: 20px;
      font-weight: 700;
    }
  .ranking_table{
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding-left: 0rem;}
    
  .ranking_table li {
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 0px;
    font-size: 17px; }
  .list_type{
    margin: 0 auto;
    width: 1048px;
    margin-bottom: 123px;
  }
  .ranking-top{
    position: relative;
  }
  .ranking-top img{
    height: 388px;
    width: 415px;
    
  }
  .ranking-top span{
    position: absolute;
    left: 35px;
    top: -12px;
    font-size: 96px;
    color: white;
    font-weight: 1000;
  }
  .sb_genero{
    margin-top: 15px;
    margin-bottom: 9px;
    color:#bbb;;
    font-size: 12px;
  }
  .sb_title{
    font-size: 25px;
    font-weight: 700;
  }
  .sub_ranking{
    display: inline-flex;
    border-bottom: 1px #bbb solid;
    margin-bottom: 6px;
  }
  .sub_ranking img{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;

  }
  .sub_ranking span{
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    width: 53px;
    justify-content: center;
    
  }
  .info_area{
    font-size: 16px;
    width: 417px;
    font-weight: 550;
  }

@media only screen and (max-width: 1148px) {
  .card {
    height: 1034px; }
  .sub_card {
    height: 1034px; } }

@media only screen and (max-width: 1053px) {
  #nav {
    display: flex;
    justify-content: space-around; }
  .logo {
    width: 36px;
    height: 40px;
    margin: 24px;
    padding: 1px; }
  .nav__ul-li {
    width: 85px;
    border: 1px double; }
  .card {
    height: 1250px; }
  .sub_card {
    height: 1180px; }
    .sub_card div:hover {
      transform: scale(1.1, 1.1); } }

@media only screen and (max-width: 990px) {
  .card {
    height: 852px; } }

@media only screen and (max-width: 767px) {
  .slide img {
    height: 300px; }
  .sub_card div:hover {
    transform: scale(1.1, 1.1); }
  .card {
    height: 1119px; } }

@media only screen and (max-width: 574px) {
  .barra li {
    font-size: 17px; }
  .card {
    height: 2249px; }
  .sub_card {
    height: 2203px; }
  .foo_contacto {
    margin: 4px; }
    .foo_contacto p {
      font-size: 13px; } }

@media only screen and (max-width: 400px) {
  .slide img {
    height: 170px; }
  
  /* html para el genero */
  .barra li {
    width: 330px;
    font-size: 15px; }
  .foo_contacto div {
    margin: 10px 5px; }
  .foo_contacto p {
    font-size: 9px; }
  .barra_genero li {
    font-size: 17px;
    margin: 8px;
    padding: 0px;
    text-align: center; } }

    
